<div class="title main">
  Congratulations!

</div>
<div class="description fix-description">
  Now you know the structure of a major and minor scale. You can play them in any instrument you want, just identify how
  to play half and whole-tones.<br><br>
  There are tons of different scales, now it’s time to explore them on your own. Good luck!
</div>
<div class="start-button">
  <button class="cover-btn" (click)="goToCover()" mat-raised-button color="primary">Home</button>
  <button class="scales-btn" (click)="goToScales()" mat-raised-button color="primary">Scales</button>
</div>