.btn-container {
  height: 50px;
  margin-top: 50px;
}

.test-result-btn {
  float: right;
  margin-right: 17px;
}

.result-detail {
  float: right;
  margin-right: 10px;
  line-height: 37px;
}

.wrong-result {
  color: red;
}

.right-result {
  color: #673ab7;
}