<div id="p-wrapper">
    <ul id="piano">
        <li class="key-group" *ngFor="let pianoKey of pianoKeys">
            <span class="dot white-dot" *ngIf="isKeyDotted(pianoKey.whiteKeyId)"></span>
            <div class="anchor" [style.background]="getColor(pianoKey.whiteKeyId)" (click)="keyPress(pianoKey.whiteKeyId)"></div>
            <span class="black-key" *ngIf="pianoKey.blackKeyId" [style.background]="getColor(pianoKey.blackKeyId)" (click)="keyPress(pianoKey.blackKeyId)">
                <span class="dot black-dot" *ngIf="isKeyDotted(pianoKey.blackKeyId)"></span>
            </span>
        </li>
    </ul>
</div>
