<div class="step">  
  <div class="title secondary">
    {{tutorialDetails?.scaleName | titlecase}} Scale
  </div>
  <div>
    <div class="info-block">
      <div class="description main fix-description">
        The pattern of the {{tutorialDetails?.scaleName}} scale is the following:<br>
        <div class="scale-pattern">{{scalePattern}}</div>
        <b>Hint</b>: {{tutorialDetails?.hint}}<br><br>
        <b>Play the scale</b> starting from {{tutorialDetails?.startingKey.name}} and you’ll hear that {{tutorialDetails?.scaleFeeling}} sound
      </div>
    </div>
  </div>
  <div id="keyboard-component">
    <keyboard [dottedKeys]="dottedKeys" [textOnKeys]="textOnKeys" (keyPlayed)="handleKeyPlayed($event)"></keyboard>
  </div>
</div>