.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 25%;
}

.quiz {
  width: 40%;
  float: left;
}

.radio-button {
  margin: 5px;
  width: 25%;
  display: inline-block;
}

mat-icon {
  vertical-align: bottom;
}

.spinner-box {
  height: 120px;
  padding-top: 15px;
  float: right;
}
mat-progress-spinner {
  margin-right: 120px;
  display: inline;
}

.option {
  line-height: 23px;
}

.correct {
  color: #673ab7;
  margin-left: 10px;
  span {
    margin-left: 5px;
  }
}

.incorrect {
  color: red;
  margin-left: 10px;
}