
<div class="container">
  <app-cover *ngIf="step == 1" (finished)="next()"></app-cover>
  <app-tone-basics *ngIf="step == 2" (finished)="readyForNext = $event" (keyPlayed)="handleKeyPlayed($event)"></app-tone-basics>
  <app-interval-calculation class="step" *ngIf="step == 3" (finished)="readyForNext = true" (keyPlayed)="handleKeyPlayed($event)" [maxKeys]="2"></app-interval-calculation>

  <div class="navigation-bar" *ngIf="step != 1 && readyForNext">
    <div class="prev-step-button">
      <button mat-fab color="primary" class="prev-btn" (click)="previous()"
        aria-label="Example icon button with a home icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="prev-step-text">Back</span>
    </div>
    <div class="next-step-button">
      <span class="next-step-text">Next step</span>
      <button mat-fab color="primary" class="next-btn" (click)="next()" aria-label="Example icon button with a home icon">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>