<div class="step">
  <div class="title secondary">
    Tone Basics
  </div>
  <div>
    <div class="info-block" *ngIf="substep >= 1">
      <div class="description main float-description">
        The smallest distance between two notes is called a <b>semitone or half-step</b>. <br>In the piano it is when two
        notes are the
        closest possible to each other
      </div>
      <div *ngIf="substep == 1" class="next-button">
        <button mat-fab color="primary" (click)="nextSubstep()"
          aria-label="Example icon button with a home icon">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <span class="button-label">(1 / 2)</span>
      </div>
    </div>
    <div class="info-block" *ngIf="substep >= 2">
      <div class="description main float-description">
        Two adjacent semitones are called a <b>tone or whole-step</b>. <br>Let's look at the keyboard to visualize it!
      </div>
      <div *ngIf="substep == 2" class="next-button">
        <button mat-fab color="primary" (click)="nextSubstep()"
          aria-label="Example icon button with a home icon">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <span class="button-label">(2 / 2)</span>
      </div>
    </div>
  </div>
  <div *ngIf="substep >= 3" id="keyboard-component">
    <keyboard [dottedKeys]="dottedKeys" [textOnKeys]="textOnKeys" (keyPlayed)="handleKeyPlayed($event)"></keyboard>
  </div>
</div>